<h1>Dermatologists Directory</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dermatologists.each do |dermatologist| %>
      <tr>
        <td><%= dermatologist.First_name %></td>
        <td><%= dermatologist.Last_name %></td>
        <td><%= link_to 'Show', dermatologist %></td>
        <td><%= link_to 'Edit', edit_dermatologist_path(dermatologist) %></td>
        <td><%= link_to 'Destroy', dermatologist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dermatologist', new_dermatologist_path %>
<%= link_to 'Back', appointments_path %>
