<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @dermatologist.First_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @dermatologist.Last_name %>
</p>

<%= link_to 'Edit', edit_dermatologist_path(@dermatologist) %> |
<%= link_to 'Back', dermatologists_path %>
