<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @diagnostic.code %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @diagnostic.detail %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @diagnostic.amount %>
</p>

<%= link_to 'Edit', edit_diagnostic_path(@diagnostic) %> |
<%= link_to 'Back', diagnostics_path %>
