<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :time_slot_id %><br>
    <%= f.collection_select :time_slot_id, TimeSlot.order(:Time),:id,:Time, include_blank: true, :prompt => "Choose Time" %>
  </div>
  <div class="field">
    <%= f.label :diagnostic_id %><br>
    <%= f.collection_select :diagnostic_id, Diagnostic.order(:detail),:id,:detail, include_blank: true, :prompt => "Choose One" %>
    </div>
  <div class="field">
    <%= f.label :patient_id %><br>

    <%= f.collection_select :patient_id, Patient.order(:first_name),:id,:first_name, include_blank: true, :prompt => "Choose One" %>
  </div>
  <div class="field">
    <%= f.label :dermatologist_id %><br>

    <%= f.collection_select :dermatologist_id, Dermatologist.order(:Last_name),:id,:Last_name, include_blank: true, :prompt => "Choose One" %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_area :reason %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
