<h1>Listing Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time Slot</th>
      <th>Diagnostic</th>
      <th>Patient</th>
      <th>Dermatologist</th>
      <th>Reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>

        <td><%= appointment.date %></td>
        <td><%= appointment.time_slot.Time %></td>
        <td><%= appointment.diagnostic.code %></td>
        <td><%= appointment.patient.first_name %></td>
        <td><%= appointment.dermatologist.Last_name %></td>
        <td><%= appointment.reason %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
<%= link_to 'Back', welcome_index_path %>
