<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Time slot:</strong>
  <%= @appointment.time_slot_id %>
</p>

<p>
  <strong>Diagnostic:</strong>
  <%= @appointment.diagnostic_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.first_name %>
</p>

<p>
  <strong>Dermatologist:</strong>
  <%= @appointment.dermatologist.Last_name %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @appointment.reason %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
