<center> <big></big><h1>Dermatologist Office System</h1></center>

<br>

<center><%= link_to 'System Admin - Dermatologist Editor', controller: 'dermatologists' %> </center>
<center><%= link_to 'System Admin - Diagnostic Codes Editor', controller: 'diagnostics' %> </center>
<center><%= link_to 'Patients - New Appointment', new_appointment_path, controller: 'appointments' %> </center>
<center><%= link_to 'Patients Directory', controller: 'patients' %> </center>
<center><%= link_to 'Appointments Directory', controller: 'appointments' %> </center>

